{%extends "homepage.html"%}


{%block content%}
<center>
<h1>Cake Details</h1>
<form method="post" action="/addToCart">
  {%csrf_token%}
<table class="table">
    <tr><td>Cake Name</td>
      <td>{{cake.pname}}</td></tr>
    <tr><td>Price</td>
      <td>{{cake.price}}</td></tr>
    <tr><td>Cake Description</td>
            <td>{{cake.description}}</td></tr>
    <tr><td>Size</td>
    <td>{{cake.size}}</td></tr>
    <tr><td colspan="2" align="center"><img src="{{cake.image.url}}" height="300px" width="300px"/></td></tr>
    <tr><td>Quantity</td>
      <td><select name="qty" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></td></tr>
    <tr><td>
      <button type="submit" class="btn btn-success">Add To Cart</button>
    </td><td>
      <input type="hidden" name="cakeid" value="{{cake.id}}"/>
    </td></tr>
</table>
</form>
</center>
{%endblock%}